
.navbar-nav a
{
	font-size: 15px;
	margin-left: 35%;
}

.navbar-brand i
{
	font-size: 20px;
	margin-top: 9px;
}

.nav-item a
{
	text-decoration: none;
	font-size: 15px;
	color: white;
	font-family: 'Do Hyeon', sans-serif;
}

.imac
{
	margin-left: 40%;
	margin-top: 10%;
	color: white;
}

.imac h1
{
	font-size: 3vw;
	font-weight: bold;
}

.imac h3
{
	font-size: 2vw;
}

.breadcrumb
{
	margin-left: 35%;
	margin-top: 3%;
}

.breadcrumb-item a
{
	color: white;
	font-size: 2vw;
}

.breadcrumb-item a:hover
{
	text-decoration: underline;
}

@media screen and (max-width:1660px)
{
	.navbar-nav a
	{
		margin-left: 10%;
	}
}

@media screen and (max-width: 600px)
{
	.nav-item a
	{
		
	}
}